#test-container,
#test-container-two {
  resize: both;
  background: rgb(255, 255, 255);
  border: 2px solid black;
  overflow: auto;
  height: 50vh;
}

grid-visualiser {
  display: block;
  /* background-color: green; */
  stroke: 1px solid green;
  height: 100%;
}

score-stats {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}